* {
  margin: 0;
  text-align: center;
}
body {
  background-image: linear-gradient(
    to top left,
    #001b2e,
    #294c60,
    #8c92ac,
    #adb6c4
  );
}
.container {
  margin: 5% 7%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  background-color: #fff;
  width: 400px;
  margin: 10px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
}
.card-img {
  background-color: cornflowerblue;
  height: 250px;
  border-radius: 15px 15px 0 0;
  margin-bottom: 20px;
}
.card-title {
  font-weight: bolder;
  margin-bottom: 10px;
  font-weight: 400;
}
.img1 {
  background-image: url("https://images.pexels.com/photos/1638459/pexels-photo-1638459.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}
.img2 {
  background-image: url("https://images.pexels.com/photos/119435/pexels-photo-119435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}
.img3 {
  background-image: url("https://images.pexels.com/photos/4077271/pexels-photo-4077271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}

.card-content {
  line-height: 1.5;
  margin: 0 20px 100px 20px;
  font-family: "Montserrat", sans-serif;
}

.card-footer {
  background-color: #000;
  display: block;
  padding: 3% 12%;
  border-radius: 0 0 15px 15px;
  padding: 0 15px;
}
.links {
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.link-content {
  color: #fff;
  padding: 20px 0;
}
.link-content:hover {
  color: #708090;
}
.card:hover {
  color: #fff;
  background-color: #696969;
  transform: scale(1.03);
  transition: all 0.5s ease;
}
